body {
    height: 100%;
    width: 100%;
    margin: 0; 
    padding: 0;
    min-width: 700px;
    min-height: 700px;
    cursor: default;
    font-family: bahnschrift;
    user-select: none;
    background-color: var(--main-bg-color);
    animation: fade-in 300ms ease-in-out;
}

body p, i {
    color: var(--paragraph-color);
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}



:root {
    --main-bg-color: #171F26;
    --main-button-color: #1B2630;
    --secondary-button-color: #121a21;
    --title-color: white;
    --secondary-color: rgb(15, 20, 25);
    --paragraph-color: rgb(220,220,220);
    --slider-color: #0075ff;
    --slider-disabled-color: #a3ceff;
    --dark-shade: rgb(8,8,8);
    --light-shade: rgb(150, 150, 150);
    font-size: 16px;
  }
/*
  :root {
    --main-bg-color: white;
    --main-button-color: #E8E0D9;
    --secondary-button-color: #d9cbbf;
    --title-color: black;
    --secondary-color: #E8E0D9;
    --paragraph-color: rgb(50,50,50);
    --slider-color: #4da0ff;
    --slider-disabled-color: #a3ceff;
    --slider-disabled-color: #a3ceff;
    --light-shade: rgb(150,150,150);

  }
*/

  .ripple-element {
    overflow: hidden;
    position: relative;
  }

  @keyframes ripple-animation {
    0%{height: 0; width: 0;}
    100%{height: 20rem; width: 20rem; opacity: 0;}
  }
  
#project-name {
    position: absolute;
    top: 0.2rem;
    font-weight: lighter;
    height: 26px;
    left: 50%;
    transform: translate(-50%);
    width: fit-content;
    z-index: 105;
    margin: 0;
    opacity: 0;
    color: var(--paragraph-color);
    display: block;
    animation: fade-in 500ms ease-in-out 0.5s;
    animation-fill-mode: both;
}
.sub-menu > div {
    border-radius: 0.25rem;
}
.sub-menu > div:hover {
    background-color: var(--main-button-color);
}


#blocking-loading-pane {
    height: 100%;
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: loading-pane 500ms ease-in-out 1s;
    z-index: 100;
    background-color: #171f26;
    animation-fill-mode: forwards;
}

#blocking-loading-pane .positioner {
    height: fit-content;
    width: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#blocking-loading-pane .positioner h1 {
    width: 100%;
    text-align: center;
    color: var(--title-color);
    font-weight: lighter;
}




.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-left: 50%;
    transform: translate(-50%);
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: blue;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
#fp-modal {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: fade-in 200ms ease-out;
    z-index: 1000;
    animation-fill-mode: both;
    overflow: hidden;
}

#fp-modal .background {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}


#fp-modal .foreground {
    height: fit-content;
    min-height: 10rem;
    width: fit-content;
    min-width: 30rem;
    max-width: 50rem;
    background-color: var(--main-bg-color);
    border-radius: 0.25rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    box-sizing: border-box;
}

#fp-modal .foreground p:not(.title) {
    margin: 0.5rem 0 0 0;
    font-weight: lighter;
    opacity: 0.6;

}

#fp-modal .foreground .icon {
    font-size: 3rem;
    height: fit-content;
    display: block;
    width: fit-content;
    position: relative;
    z-index: 1000;
    margin-bottom: 0.5rem;
    transition: 250ms all cubic-bezier(0.42, 0, 0.44, 1.51);
    opacity: 0.7;
    cursor: pointer;
}

#fp-modal .foreground .icon:active::after {
    animation: punch-icon 250ms cubic-bezier(0.42, 0, 0.44, 1.51);
    animation-fill-mode: both;
}

@keyframes fly-out {
    100%{transform: scale(0); opacity: 0;}
}

@keyframes punch-icon {
    50%{transform: scale(1)}
    100%{transform: scale(1.4)}
}

#fp-modal .foreground .icon:hover {
    transform: scale(1.1);
    opacity: 1;
}

#fp-modal .foreground .icon::after {
    background-color: var(--secondary-button-color);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    transform: scale(1.1);
    content: "";
    z-index: -1;
    transition: all 250ms cubic-bezier(0.42, 0, 0.44, 1.51);
}

#fp-modal .foreground .icon:hover::after {
    transform: scale(1.4);
    box-shadow: 0px 10px 21px -5px rgba(0,0,0,0.75);
}

#fp-modal .foreground .title {
    font-weight: lighter;
    margin: 0;
}

#fp-modal .foreground .buttons-container {
    position: relative;
    float: right;
    margin-top: 1rem;
    height: fit-content;
    width: fit-content;
}

#fp-modal .foreground .buttons-container button {
    height: fit-content;
    padding: 0.5rem 1.5rem;
    width: fit-content;
    background-color: var(--secondary-button-color);
    border-radius: 0.25rem;
    border: none;
    color: var(--paragraph-color);
    margin-right: 1rem;
    cursor: pointer;
    font-size: 1em;
    text-transform: uppercase;
    font-family: bahnschrift;
    opacity: 0.7;
    transition: 200ms all cubic-bezier(0.42, 0, 0.44, 1.51);
    line-height: 1em;
    outline: none;
    letter-spacing: 0.1em;
}

#fp-modal .foreground .buttons-container button:hover {
    opacity: 1;
    background-color: var(--dark-shade);
    transform: scale(1.05);
}

#fp-modal .foreground .buttons-container button.important {
    background-color: var(--dark-shade);
    border: solid var(--slider-color) 1px;
}

#edit {
    padding: 1rem;
    box-sizing: border-box;
    overflow-y: auto;
}

#edit p {
    margin: 0;
}

#edit #default-bg-img {
    display: none;
}



#edit .container {
    height: fit-content;
    width: fit-content;
}

#edit input {
    background-color: var(--main-button-color);
    border: none;
    outline: none;
    height: 1.5rem;
    width: 15rem;
    border-radius: 0.25rem;
    color: var(--paragraph-color);
    padding-left: 0.5rem;
    box-sizing: border-box;
    font-family: Bahnschrift;
    font-size: 1rem;
}

#edit .transition-card {
    height: 7rem;
    width: fit-content;
    min-width: 7rem;
    border-radius: 0.5rem;
    background-color: var(--secondary-button-color);
    border: 1px var(--main-bg-color) solid;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 1rem;
    transition: 100ms all ease-in-out;
    box-sizing: border-box;

}

#edit .transition-card.selected {
    /*border: 2px var(--slider-color) solid;*/
    transform: scale(1.1);
}

#edit .transition-card.selected::after {
    content:".";
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    background: rgb(0,212,255);
    background: linear-gradient(141deg, rgba(0,212,255,1) 33%, rgba(0,117,255,1) 74%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
    color: transparent;
    border-radius: 0.5rem;
    animation: enlarge-outline 200ms ease-in-out both;
}

@keyframes enlarge-outline {
    0%{height: 100%; width: 100%}
    100%{height: calc(100% + 4px); width: calc(100% + 4px);}
}

#edit .transition-card.selected::before {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--secondary-button-color);
    z-index: -1;
    content: ".";
    color: transparent;
    border-radius: 0.5rem;
}

#edit .transition-card.disabled {
    opacity: 0.5;
    pointer-events: none;
}

#edit .section-title {
    margin-bottom: 0.5rem;
    font-weight: lighter;
}

.standard-tab-settings-container {
    position: relative;
    min-height: 10rem;
}

.standard-tab-settings-container > * {
    display: block;

}

.standard-tab-settings-container > div > * {
    
}

/*

Replaced by a style in inputs.css

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}    

.select select {
    font-family: Bahnschrift;
    font-size: 1em;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 0px solid #000000;
    border-radius: 0.5rem;
    background: var(--secondary-button-color);
    color: #000000;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select select::-ms-expand {
    display: none;
    border-radius: 0.5rem 0.5rem 0 0;
}
.select select:hover,
.select select:focus {
    color: var(--paragraph-color);
    border-radius: 0.5rem 0.5rem 0 0;
    background: var(--secondary-button-color);
}
.select select:disabled {
    opacity: 0.5;
    pointer-events: none;
}
.select_arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0px 5px;
    border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-top-color: #000000;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}

*/
.file-ghost {
    height: 5rem;
    width: 7rem;
    background-color: var(--dark-shade);
    backdrop-filter: blur(3px);
    position: absolute;
    opacity: 0.5;
    border-radius: 0.5rem;
    z-index: 100;
    display: grid;
    grid-template-rows: auto 1.5rem;
    grid-template-columns: 9rem;
    padding-top: 0.1rem;
    box-sizing: border-box;
    overflow: hidden;
    pointer-events: none;
}


.file-ghost img {
    position: absolute;
    height: 100%;
    margin: 0;
    width: auto;
    left: 50%;
    transform: translate(-50%);
    pointer-events: none;
    border-radius: 0.25rem;
}

.file-ghost p {
    line-height: 1.5rem;
    margin: 0;
    width: 100%;
    text-align: center;
    display: none;
}


.timeline-file-ghost {
    height: 4rem;
    width: 6rem;
    background-color: var(--main-bg-color);
    backdrop-filter: blur(3px);
    position: absolute;
    opacity: 1;
    border-radius: 0.5rem;
    z-index: 100;
    display: grid;
    grid-template-rows: auto 1.5rem;
    grid-template-columns: 9rem;
    padding-top: 0.1rem;
    box-sizing: border-box;
    overflow: hidden;
    pointer-events: none;
    animation: timeline-file-drag-start 100ms ease-out;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}



#app-bar {
    padding-left: 0;
    height: 26px;
    width: 100%;
    display: grid;
    grid-template-columns: 20rem auto 150px;
    grid-template-rows: 100%;
    background-color: var(--main-bg-color);
    z-index: 102;
}

#app-bar #menu {
    padding: 0 0 0 0.5rem;
    padding-top: 0.1rem;
    margin: 0;
    height: 100%;
    width: 100%;
    white-space: nowrap;
    box-sizing: border-box;
}

#app-bar #menu .button.off { /*Disable app-bar menu items*/
    opacity: 0.5;
    pointer-events: none;

}

#app-bar .app-bar-menu-container li,ul, .icon {
    display: inline-block;
    line-height: 26px;
    height: 26px;
    margin-right: 0;
}

#app-bar .app-bar-menu-container .icon {
    margin-right: 0.3rem;
    height: fit-content;
    margin-left: 0.7rem;
    transform: translate(0, 0.2rem);
}

#app-bar .app-bar-menu-container img {
    height: 20px;
}

#app-bar .app-bar-menu-container li {
    transform: translate(0, -2px);
    color: var(--paragraph-color);
    font-weight: lighter;
    padding: 0 0.9rem;  
    margin-right: -0.3rem;
}
#app-bar .app-bar-menu-container #menu {
    display: inline-block; 
    width: fit-content;
    
}

#app-bar .app-bar-menu-container li:hover {
    background-color: rgba(0,0,0,0.75);
}

#app-bar #drag-region {
    width: 100%;
    position: relative;
    height: 100%;
    -webkit-app-region: drag;
    display: inline-block;
    z-index: -1;
}

.menu .back-button {
    border-radius: 100rem; /*Create sum of that nice round borders*/
}

#main-container-wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    box-sizing: border-box;
    grid-template-rows: 26px auto;
    row-gap: 1rem;
}

#main-container {
    display: grid;
    row-gap: 15px;
    /*padding-top: 1rem;*/
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

#main-container #top-layer {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 100%;;
    height: 100%;
    column-gap: 1rem;
    box-sizing: border-box;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

#main-container #top-layer .browser-container {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: transparent;
    border-radius: 0.5rem;
    overflow: hidden;
}

#main-container #top-layer #browser {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 2.5rem;
    min-height: 0;
    grid-template-columns: 100%;
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    overflow: hidden;
    align-items: end;
    justify-items: start;
}

#main-container #top-layer #browser .wrapper:first-of-type {
    display: grid;
    grid-template-columns: 4rem auto;
}

#main-container #top-layer #browser .wrapper:last-of-type {
    height: 100%;
    width: 100%;
    background-color: var(--main-bg-color);
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 6;
}

#main-container #top-layer #browser .wrapper:last-of-type .scroller {
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 0.2rem;
    box-sizing: border-box;
    scroll-snap-type: both mandatory;
}

#main-container #top-layer #browser .wrapper:last-of-type .scroller > p {
    height: 100%;
    line-height: 2rem;
    margin: 0;
    margin-left: 0.5rem;
    font-weight: lighter;
    opacity: 0.3;
    color: var(--paragraph-color);
}


#main-container #top-layer #browser .wrapper:last-of-type .scroller::-webkit-scrollbar {
    width: 5px;
    height: 2px;
}
#main-container #top-layer #browser .wrapper:last-of-type .question-circle {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translate(0, -50%);
    opacity: 1;
    height: 1rem;
    width: fit-content;
}

#main-container #top-layer #browser .wrapper:last-of-type .tab {
    max-height: 2rem;
    height: 100%;
    width: fit-content;
    overflow: hidden;
    min-width: 2rem;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    display: inline-block;
    margin-right: 0.2rem;
    scroll-snap-align: start;
    border: none;
    outline: none;
    padding: auto;
    animation: fade-in 200ms ease-in-out;
    transition: all 100ms ease-in-out;
}

#main-container #top-layer .properties-pane {
    height: calc(100% - 2.5rem);
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 2.5rem;
    background-color: var(--main-bg-color);
    animation: properties-slide-in 400ms ease-in-out;
    z-index: 5;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 1rem 1rem 0 1rem;
    box-sizing: border-box;
}

#main-container #top-layer .properties-pane .tab-notification {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--secondary-button-color);
    animation: tab-notification-pop-in 300ms ease-out;
    animation-fill-mode: both;
    height: fit-content;
    width: fit-content;
    max-width: 20rem;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
}

#main-container #top-layer .properties-pane .tab-notification p {
    margin: 0;
}

@keyframes tab-notification-pop-in {
    0% {transform: translate(-50%, 110%)};
    100% {transform: translate(-50%, 0)};
}


#main-container #top-layer .explorer-notification {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--secondary-button-color);
    animation: tab-notification-pop-in 300ms ease-out;
    animation-fill-mode: both;
    height: fit-content;
    width: fit-content;
    max-width: 20rem;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
}

#main-container #top-layer .explorer-notification p {
    margin: 0;
}


#main-container #top-layer .properties-pane .container {
    height: 100%;
    width: 100%;
    animation: slide-in-left-properties 400ms ease-in-out;
    animation-fill-mode: both;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 0.5rem;
}

#main-container #top-layer .properties-pane .container > div {
    position: relative;
}
/*
#main-container #top-layer .properties-pane .container > div > * {
    position: initial;
}
*/

#main-container #top-layer .properties-pane .container::-webkit-scrollbar-track {
    background-color: none;
    border-radius: 0.25rem;
    overflow: hidden;
} 

#main-container #top-layer .properties-pane .container > h1.title {
    margin: 0;
    color: var(--title-color);
    font-size: 1.5rem;
    font-weight: lighter;
}

#main-container #top-layer .properties-pane .container .right {
    background-color: transparent;
    display: inline-block;
    float: right;
    height: fit-content;
    width: 50%;
    padding: 0.5rem;
    box-sizing: border-box;
}

#main-container #top-layer .properties-pane .container .right .timeline {
    height: 3rem;
    margin-top: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    width: 100%;
    border-width: 0.1rem 0.5rem;
    border-color: white;
    border-style: solid;
    border-radius: 0.25rem;
}


#main-container #top-layer .properties-pane .container .right .text-positioning {
    background: var(--secondary-color);
    width: fit-content;
    max-width: 3rem;
    border: none;
    outline: none;
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: background 150ms ease-in-out;
    padding: 0.5rem;
}

#main-container #top-layer .properties-pane .container .right .text-positioning.selected {
    background: var(--slider-color);
}

#main-container #top-layer .properties-pane .container .right .text-positioning i {
    font-size: 1.5rem;
}

#main-container #top-layer .properties-pane .container .right .text-positioning:hover {
    background-color: var(--main-bg-color);
}

#main-container #top-layer .properties-pane .container .right .text-positioning:first-of-type {
    border-radius: 0.5rem 0 0 0.5rem;
}

#main-container #top-layer .properties-pane .container .right .text-positioning:first-of-type::after {
    height: 80%;
    width: 1px;
    background: var(--title-color);
    right: 0;
    content: ".";
    position: absolute;
    color: transparent;
    top: 50%;
    transform: translate(0,-50%);
    opacity: 0.5;

}

#main-container #top-layer .properties-pane .container .right .text-positioning:last-of-type::after {
    height: 80%;
    width: 1px;
    background: var(--title-color);
    left: 0;
    content: ".";
    position: absolute;
    color: transparent;
    top: 50%;
    transform: translate(0,-50%);
    opacity: 0.5;

}

#main-container #top-layer .properties-pane .container .right .text-positioning:last-of-type {
    border-radius: 0 0.5rem 0.5rem 0;
}
#main-container #top-layer .properties-pane .container .preview-window {
    height: 10rem;
    width: 100%;
    border: solid var(--slider-color) 2px;
    border-radius: 0.5rem;
    background-color: var(--main-button-color);
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

#main-container #top-layer .properties-pane .container .preview-window > div {
    height: 70%;
    width: fit-content;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#main-container #top-layer .properties-pane .container .preview-window > div img, video {
    height: 100%;
    width: auto;
    border-radius: 0.25rem;
}

#main-container #top-layer .properties-pane .tab-position-container {
    height: fit-content;
    width: fit-content;
    float: left;
    margin-top: 0.5rem;
}

#main-container #top-layer .properties-pane .tab-position-container div.value {
    clear: left;
}

#main-container #top-layer .properties-pane .tab-position-container div.unit {
    display: inline-block;
    float: right;
    height: 2rem;
    margin-left: 0.5rem;
    height: 2rem;
    width: 4rem;
    
}
#main-container #top-layer .properties-pane .tab-position-container div.unit select {
    height: 2rem;
    padding: 0.4rem 0 0.4rem 0.2rem;
}

#main-container #top-layer #browser .wrapper:last-of-type .tab p {
    width: fit-content; 
    max-width: 10rem;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.9rem;
    margin: 0;
    display: inline-block;
    float: left;
    color: var(--paragraph-color);
}

#main-container #top-layer #browser .wrapper:last-of-type .tab:hover {
    background-color: var(--secondary-button-color);
}

#main-container #top-layer #browser .wrapper:last-of-type .tab .cross {
    display: inline-block;
    float: right; 
    margin-left: 0.5rem;
    cursor: pointer;
}

#main-container #top-layer #browser .wrapper:last-of-type .tab .cross i {
    font-size: 0.9rem;
    color: var(--paragraph-color);
}

#main-container #top-layer #browser .content-container {
    height: 100%;
    width: 100%;
}

#main-container #top-layer #browser .content-container > div {
    height: 100%;
    width: 100%;
    animation: slide-in-left 200ms ease-in-out;
}

#main-container #top-layer #browser .content-container #files {
    height: 100%;
    width: 100%;
    position: relative;
}

#main-container #top-layer #browser .content-container #files #add-files-button {
    height: 2.5rem;
    width: 2.5rem;
    bottom: 1rem;
    font-size: 1.6rem;
    font-weight: lighter;
    right: 1rem;
    position: absolute;
    border-radius: 100%;
    border: none;
    background: var(--main-bg-color);
    color: var(--title-color);
    cursor: pointer;
    outline: none;
    z-index: 4;
}

#main-container #top-layer #browser .content-container #files #files-container {
    /*Display grid is in reality set in the main.js script*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem,1fr));
    white-space: pre-wrap;
    grid-template-rows: repeat(4, 6rem);
    row-gap: 1rem;
    column-gap: 0.5rem;
    padding: 0.5rem;
    box-sizing: border-box;
    overflow-y: auto;
    height: 100%;
    width: 100%;
}

/*
#main-container #top-layer #browser .content-container #files #files-container {
    height: 100%;
    width: 100%;

    border-radius: 0.25rem;
    display: inline-block;
    vertical-align: top;
}*/

#main-container #top-layer #browser .content-container #files .content {
    height: 100%;
    width: 100%;
    display: grid;
    padding-top: 0.3rem;
    box-sizing: border-box;
    grid-template-rows: auto 1.5rem;
    grid-template-columns: 100%;
    overflow: hidden;
}

#main-container #top-layer #browser .content-container #files .content p {
    line-height: 1.5rem;
    margin: 0;
    height: 100%;
    width: 100%;
    max-width: 10rem;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
}

#main-container #top-layer #browser .content-container #files .content img, video {
    height: 4rem;
    width: auto;
    border-radius: 0.25rem;
    margin-left: 50%;
    transform: translate(-50%);
    pointer-events: none;
}

#main-container #top-layer #browser .content-container #widgets {
        /*Display grid is in reality set in the main.js script*/
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem,1fr));
        white-space: pre-wrap;
        grid-template-rows: repeat(4, 6rem);
        row-gap: 1rem;
        column-gap: 0.5rem;
        padding: 0.5rem;
        box-sizing: border-box;
        overflow-y: visible;
}

#main-container #top-layer #browser .content-container #widgets .explorer-widget {
    height: 100%;
    width: 100%;
    background-color: var(--secondary-button-color);
    border-radius: 0.25rem;
    overflow: hidden;
    border: 1px solid var(--main-bg-color);
    cursor: pointer;
    position: relative;
}

#main-container #top-layer #browser .content-container #widgets .explorer-widget .menu-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(10,10,10,0.7);
    z-index: 3;
    animation: fade-in 150ms ease-in-out both;
    display: flex;
    align-items: center;
}

#main-container #top-layer #browser .content-container #widgets .explorer-widget .menu-overlay button {
    margin: auto;
    background-color: transparent;
    border-radius: 0.25rem;
    border: none;
    padding: 0.2rem;
    height: fit-content;
    width: fit-content;
    transition: all 150ms ease-in-out;
    cursor: pointer;
}

#main-container #top-layer #browser .content-container #widgets .explorer-widget .menu-overlay button:hover {
    background-color: var(--main-button-color);
}


#main-container #top-layer #browser .side-bar {
    height: 100%;
    width: 4rem;
    background-color: var(--slider-color);
    display: inline-block;
    float: left;
    position: relative;
    z-index: 2;
}

#main-container #top-layer #browser .side-bar .buttons-container {
    height: fit-content;
    width: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#main-container #top-layer #browser .side-bar .buttons-container .sliding-bar {
    width: 0.2rem !important;
    position: absolute;
    background-color: white;
    left: 0;
    height: 3rem;
    display: none;
    transition: all 150ms ease-in-out;
}

#main-container #top-layer #browser .side-bar .buttons-container div:not(.sliding-bar) {
    width: 4rem;
    height: 3rem;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
}

#main-container #top-layer #browser .side-bar .buttons-container div i {
    line-height: 3rem;
    width: 100%;
    text-align: center;
}

#main-container #top-layer #browser .side-bar .buttons-container button:hover {
    /*transform: translateX(0.3rem);*/
}

#main-container #top-layer #browser .side-bar .buttons-container button:focus {
    border-style: solid;
    border-width: 0 0 0 3px;
    border-color: white;
}

#main-container #top-layer #viewport {
    height: 100%;
    width: 100%;
    background-color: rgb(50,50,50);
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
}

#main-container #top-layer #viewport #content {
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

#main-container #top-layer #viewport #content .container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#main-container #top-layer #viewport #content .container * {

}

#main-container #top-layer #viewport .controls {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translate(-50%);
  height: fit-content;
  width: fit-content;
  z-index: 5;
  background-color: var(--main-button-color);
  overflow: hidden;
  border-radius: 1rem;
  padding: 0rem 1rem 0 0;
  flex-wrap: nowrap;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

#main-container #top-layer #viewport .controls input {
    display: inline-block;
    width: 20rem;
    background: none;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, var(--slider-color)), color-stop(0%, var(--slider-disabled-color)));
    margin: 0.8rem 0;
  }

  #main-container #top-layer #viewport .controls button#fullscreen {
    background-color: transparent;
    border: none;
    float: right;
    margin-left: 0.5rem;
    height: 2.006rem;
    width: 2.006rem;
    cursor: pointer;
    padding: 0;
    outline: none;
    white-space: nowrap;
    flex-wrap: nowrap;
  }

  #main-container #top-layer #viewport .controls button#fullscreen:disabled {
      display: none;
  }

  #main-container #top-layer #viewport .controls button#fullscreen i {
      line-height: 2.006rem;
      font-size: 1.3rem;
  }

  #main-container #top-layer #viewport .controls button#fullscreen::after {
    content: ".";
    position: absolute; 
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(0.8);
    z-index: -1;
    height: 2.006rem;
    width: 2.006rem;
    background-color: transparent;
    border-radius: 10rem;
    transition: all 100ms ease-out;
    background: var(--secondary-button-color);
    opacity: 0;
  }

  #main-container #top-layer #viewport .controls button#fullscreen:hover::after {
    transform: translate(-50%,-50%) scale(0.95);
    opacity: 1;
}

#main-container #top-layer #viewport .controls input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;  
  box-shadow: 0px 0px 0px #000000;
  background: none;
  border-radius: 19px;
  border: 0px solid #000000;
}

#main-container #top-layer #viewport .controls .action-buttons {
  height: 2.006rem;
  width: fit-content;
  display: inline-block;
  float: left;
  margin-right: 1rem;
  background-color: var(--secondary-color);
  border-radius: 1rem;
  padding: 0 0.5rem;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

#main-container #top-layer #viewport .controls .action-buttons button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  height: 2rem;
  width: fit-content;
  max-width: 2rem;
}

#main-container #top-layer #viewport .controls .action-buttons button i {
    width: fit-content;
    max-width:2rem;
}

#main-container #top-layer #viewport .settings-button {
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
}

#main-container #top-layer #viewport .settings-button i {
    height: 2rem;
    width: 2rem;
    text-align: center;
    line-height: 2rem;
    color: white;
}

#main-container #top-layer #viewport .settings-bar {
    height: 100%;
    width: 13rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--main-button-color);
    opacity: 1;
    transition: all 150ms ease-in-out;
    animation: slide-in-right 300ms ease-in-out;
    line-height: 2.1rem;
    z-index: 2;
    display: none;
    padding-left: 1rem;
}

#main-container #top-layer #viewport .settings-bar .header {
    height: 2.1rem;
    width: 100%;
}

#main-container #top-layer #viewport .settings-bar .header p {
    height: 100%;
    width: fit-content; 
    float: left;
    display: inline-block;
    margin: 0;
    line-height: 2.1rem;
}   

#main-container #top-layer #viewport .settings-bar .header .close-button {
    height: 2.1rem;
    width: 2.1rem;
    background-color: transparent;
    float: right;
    display: inline-block;
    border: none;
    cursor: pointer;
    width: 2.1rem;
    outline: none;
}

#main-container #top-layer #viewport .settings-bar .close-button i {
    line-height: 2.1rem;
}

#main-container #top-layer #viewport .settings-bar .content {
    height: fit-content;
    width: 100%;
    padding: 0 1rem 0 0;
    box-sizing: border-box;
    margin-top: 1rem;
}

#main-container #top-layer #viewport .settings-bar .content p {
    margin: 0;
}


#main-container #top-layer #viewport #content .positioner {
    height: 0.4rem;
    width: 0.4rem;
    background-color: white;
    border-radius: 100%;
    border: 0.15rem solid rgb(120,120,120);
    position: absolute;
}

#main-container #top-layer #viewport #content .positioner:nth-of-type(1) {
    left: 0;
    transform: translate(-50%,-50%);
    top: 0;
    cursor: nw-resize;
    opacity: 0.2;

    pointer-events: none;
}

#main-container #top-layer #viewport #content .positioner:nth-of-type(2) {
    left: 50%;
    transform: translate(-50%, -50%);
    top: 0;
    cursor: n-resize;
    opacity: 0.2;

    pointer-events: none;

}

#main-container #top-layer #viewport #content .positioner:nth-of-type(3) {
    right: 0;
    transform: translate(50%, -50%);
    top: 0;
    cursor: ne-resize;
    opacity: 0.2;

    pointer-events: none;


}

#main-container #top-layer #viewport #content .positioner:nth-of-type(4) {
    left: 0;
    transform: translate(-50%, -50%);
    top:50%;
    cursor: w-resize;
    opacity: 0.2;

    pointer-events: none;
    
}

#main-container #top-layer #viewport #content .positioner:nth-of-type(5) {
    left: 0;
    transform: translate(-50%, 50%);
    bottom: 0;
    cursor: ne-resize;
    opacity: 0.2;
    pointer-events: none;

}

#main-container #top-layer #viewport #content .positioner:nth-of-type(6) {
    left: 50%;
    transform: translate(-50%, 50%);
    bottom: 0;
    cursor: n-resize;

}

#main-container #top-layer #viewport #content .positioner:nth-of-type(7) {
    right: 0;
    transform: translate(50%, 50%);
    bottom: 0;
    cursor: nw-resize;

}

#main-container #top-layer #viewport #content .positioner:nth-of-type(8) {
    right: 0;
    transform: translate(50%, 50%);
    bottom: 50%;
    cursor: e-resize;
}

#main-container #top-layer #viewport #content .container .alignment-item {
    background-color: coral;
    position: absolute;
    pointer-events: none;
    display: none;
}

#main-container #top-layer #viewport #content .container .alignment-item#viewport-middle-horizontal-aligner {
    width: 100%;
    height: 1px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 1000;
}
#main-container #top-layer #viewport #content .container .alignment-item#viewport-middle-vertical-aligner {
    width: 1px;
    height: 100%;
    top: 0;
    transform: translateX(-50%);
    left: 50%;
    z-index: 1000;
}



#main-container #bottom-layer {
    height: auto;
    padding-bottom: 1rem;
    box-sizing: border-box;
    width: 98%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

#main-container #bottom-layer #timeline {
    height: 100%;
    width: 100%;    
    border-radius: 0.5rem;
    background-color: var(--main-button-color);
    overflow: hidden;
    
}

#main-container #bottom-layer #timeline .side-bar {
    height: 100%;
    width: 100%;
    background-color: var(--secondary-color);
    z-index: 2;
}

#main-container #bottom-layer #timeline .sub-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#main-container #bottom-layer #timeline .sub-container .top-bar {
    height: 100%;
    width: 100%;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: repeat(40,6rem);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    z-index: 2;
}

#main-container #bottom-layer #timeline .sub-container .top-bar div[active="true"] {
    border: solid white;
    border-width: 0 0 0.2rem;
}



#main-container #bottom-layer #timeline .sub-container .scrubber {
    height: 100%;
    max-height: 24rem;
    /*
    display: grid;
    grid-template-columns: repeat(40,6rem); 
    grid-template-rows: 20rem;*/
    overflow-x: scroll;
    overflow-y: scroll;
    white-space: nowrap;
    /*scroll-snap-type: both mandatory;*/
    z-index: 1;
    max-width: calc(100% - 30rem);
    display: inline-block;
}

#main-container #bottom-layer #timeline .sub-container .browser {
    width: 30rem;
    display: inline-block;
    float: right;
    vertical-align: top;
    height: 100%;
    background-color: var(--secondary-button-color);
    border-radius: 0.5rem;
    transform: scale(0.98);
    padding: 1rem;
    box-sizing: border-box;
    overflow-y: auto;
    
}

#main-container #bottom-layer #timeline .sub-container .browser .main-wrapper {
    animation: fade-in 300ms ease-in-out;
}

#main-container #bottom-layer #timeline .sub-container .browser > div > button {
    border-color: var(--slider-disabled-color);
    color: var(--light-shade);
}

#main-container #bottom-layer #timeline .sub-container .browser > div > button:disabled {
    opacity: 0.5;
    pointer-events: none;
}

#main-container #bottom-layer #timeline .sub-container .browser .foldable-content {
    border: none;
    background-color: var(--secondary-color);
}

#main-container #bottom-layer #timeline .sub-container .browser .foldable-content > div::after {
    display: none;
}

#main-container #bottom-layer #timeline .sub-container .browser h1.title {
    color: var(--title-color);
    font-weight: lighter;
    margin: 0 0 0.5rem 0;
    font-size: 1.5rem;
    height: 3rem;
}

#main-container #bottom-layer #timeline .sub-container .browser .no-content {
    margin: auto;
    font-weight: lighter;
    font-size: 1.2rem;
    opacity: 0.5;
    animation: fade-in 300ms ease-in-out both;
}

#main-container #bottom-layer #timeline .sub-container .browser .foldable-content > div {
    padding-bottom: 1rem;
    height: fit-content;
}

#main-container #bottom-layer #timeline .sub-container .scrubber .timeline-column {
    height: fit-content;
    width: 6rem;
    margin: 0; 
    position: relative;
    display: inline-block;
    vertical-align: top;
    transition: all 75ms ease-in-out;

}

#main-container #bottom-layer #timeline .sub-container .scrubber .timeline-column[displaying="true"] {
    background-color: var(--column-selection-color) !important;
}

#main-container #bottom-layer #timeline .sub-container .scrubber .timeline-row {
    height: 4rem;
    width: 100%;
    border-radius: 0.25rem;
    position: relative;
    scroll-snap-align: start;
    transition: 70ms all ease-out;
    z-index: 1;
    display: flex;
    align-items: center;
}

#main-container #bottom-layer #timeline .sub-container .scrubber .timeline-row.selected {
    border-radius: 0.25rem;
    overflow: hidden;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    opacity: 1;
    transform: scale(0.9);
    z-index: 2;
}


#main-container #bottom-layer #timeline .sub-container .scrubber .timeline-row[version="A"] {
    /*background-color: var(--main-bg-color);*/
}

#main-container #bottom-layer #timeline .sub-container .scrubber .timeline-column .timeline-row .scrubber-element {
    height: 95%;
    width: 98%;
    margin: auto;
    position: relative;
    background-color: var(--main-bg-color);
    border-radius: 0.25rem;
    /*transition: all 200ms ease-in-out;*/
    overflow: hidden;
    box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.1);
}


@keyframes drop-item-to-timeline {
    0%{}
    50%{transform: scale(0.9)}
    100%{transform: scale(1)}
}


#main-container #bottom-layer #timeline .sub-container .scrubber .timeline-column .timeline-row .scrubber-element img {
    height: 100%;
    width: auto;
    max-width: 6rem;
    border-radius: 0.25rem;
    margin-left: 50%;
    transform: translate(-50%);
    position: relative;
}

#bottom-layer .script-container .script-editor {
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: var(--secondary-color);
    animation: pop-in 300ms ease-in-out; 
    border-radius: 0.5rem;
    box-sizing: border-box;
    overflow: hidden;
}

#bottom-layer .script-container .script-editor > .top-bar > h1 {
    margin: 0 0 0 0.5rem;
    color: var(--title-color);
    font-weight: lighter;
    display: inline-block;
    float: left;
    vertical-align: top;
}


#bottom-layer .script-container .script-editor > .top-bar {
    height: 2rem;
    width: 100%;
    padding: 0.5rem;
    background-color: var(--secondary-color);
    z-index: 101;

}

#bottom-layer .script-container .script-editor > .top-bar .top-bar-button {
    height: 2rem;
    width: 2rem;
    display: inline-block;
    padding: 0;
}

#bottom-layer .script-container .script-editor > .top-bar .top-bar-button:first-of-type {
    margin-left: 1rem;
}

#bottom-layer .script-container .script-editor > .top-bar .top-bar-button i{
    width: 2rem;
    line-height: 2rem;
    font-size: 1.5rem;
}

#bottom-layer .script-container .script-editor .top-bar .close-button {
    height: 2rem;
    width: 2rem;
    padding: 0;
    display: inline-block;
    float: right;
    background: transparent;
    vertical-align: top;
    margin-right: 1rem;
}

#bottom-layer .script-container .script-editor .top-bar .close-button:hover {
    background: transparent;
}

#bottom-layer .script-container .script-editor .top-bar .close-button i {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
}

#bottom-layer .script-container .script-editor .edit-field {
    height: 20rem;
    width: 100%;
    border-radius: 0rem;
    border: none;
    outline: none;
    z-index: 100;
}

#bottom-layer .script-container .script-editor .edit-field textarea {
    height: 25rem;
    resize: none;
    outline: none;
}

#bottom-layer .script-container .script-editor .editor-split {
    display: grid;
    width: 100%;
    height: 80%;
    overflow: hidden;
    grid-template-columns: 33% 33% auto;
}

#bottom-layer .script-container {
    height: 100%;
    padding-bottom: 1rem;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
#bottom-layer > div.script-container > div > div.edit-field > table > tr > td:nth-child(2) > textarea {
    outline: none;
    height: 23.5rem;
}

.floating-box {
    height: 50%;
    width: 40rem;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: var(--main-bg-color);
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    animation: fade-in 300ms ease-in-out;
    display: grid;
    grid-template-rows: 2rem auto;
    min-height: 0;
    overflow: hidden;
    /*border: 2px solid var(--secondary-color);*/
}

.floating-box > .top-bar {
    height: 2rem;
    width: 100%;
    background-color: var(--main-bg-color);
    position: relative;
    cursor: grab;
    vertical-align: top;
    border-width: 1px 1px 0 1px;
    box-sizing: border-box;
    border-color: black;
    border-style: solid;
    border-radius: 0.5rem 0.5rem 0 0;

}
.floating-box > .top-bar > .drag-handle {
    height: 3px;
    border-radius: 1.5px;
    width: 1.5rem;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    pointer-events: none;
    vertical-align: top;

}

.floating-box > .top-bar > button {
    display: inline-block;
    float: right;
    background: none;
    border: none;
    outline: none;
    color: var(--paragraph-color);
    height: 2rem;
    vertical-align: top;
    cursor: pointer;
}

.floating-box > .top-bar > button i {
    height: inherit;
    line-height: 2rem;

}

.floating-box > .view {
    background-color: black;
    padding: 0.5rem 1rem 1rem 1rem;
    box-sizing: border-box;
    border-width: 0 1px 1px 1px;
    box-sizing: border-box;
    border-color: black;
    border-style: solid;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    overflow-y: auto;
    overflow-x: hidden;
}
.floating-box > .view > p {

}

.floating-box > .settings-pane {
    height: 10rem;
    width: 37rem;
    left: 50%;
    transform: translate(-50%,0);
    min-width: 20rem;
    background-color: var(--main-bg-color);
    border-radius: 0.5rem;
    position: absolute;
    bottom: 1rem;
    display: none;
    animation: fade-in 300ms ease-in-out;
    padding: 0.5rem;
}

.floating-box .view div button.documentation-collapsible {
    background-color: transparent;
    border-width: 0 0 2px 0;
    width: 100%;
    border-color:rgb(150, 150, 150);
    height: fit-content;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    margin-top: 0.5rem;

}


.floating-box > .view div .foldable-content {
    max-height: 0;
    /*display: none;*/
    transition: max-height 300ms ease-out;
    overflow: hidden;
    background-color:rgba(200, 200, 200, 0.3);
    box-sizing: border-box;
    width: 100%;
    border-radius: 0 0 0.25rem 0.25rem;
}

.floating-box > .view div .foldable-content div {
    padding: 0.5rem;
}

.floating-box > .view div .foldable-content div * {
    font-weight: lighter;
}

body .file-dropdown-menu {
    min-height: 2rem;
    min-width: 20rem;
    position: absolute;
    background-color: var(--main-bg-color);
    animation: fade-in 200ms ease-in-out;
    display: block;
    transform: translate(-50%);
    z-index: 5;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 0.25rem;
}

.menu-collapsible {
    background-color: transparent;
    border-width: 0 0 1px 0;
    width: 100%;
    border-color: var(--slider-color);
    height: fit-content;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    margin-top: 0.5rem;
    color: var(--paragraph-color);
}

.foldable-content {
    max-height: 0;
    /*display: none;*/
    transition: max-height 300ms ease-out;
    overflow: hidden;
    background-color:var(--secondary-button-color);
    box-sizing: border-box;
    width: 100%;
    border-radius: 0 0 0.25rem 0.25rem;
    border: solid var(--slider-color);
    border-width: 0 1px 1px 1px;
    box-sizing: border-box;
    transition: all 200ms ease-in-out;
}

.foldable-content:hover {
    border-radius: 0 0 0.5rem 0.5rem;
}

.foldable-content > div {
    height: 100%;
    padding: 1rem 1rem 0 1rem;
}

.foldable-content > div::after {
    height: 0px;
    line-height: 0px;
    content: ".";
    opacity: 0;

}

.foldable-content > div * {
    font-weight: lighter;
}


body .context-menu {
    z-index: 104;       
}
body .context-menu button:disabled {
    opacity: 0.3;
    cursor: default;
}

body .context-menu button:disabled:hover {
    background-color: transparent;
}

#main-container #bottom-layer #timeline .sub-container .scrubber .timeline-column .timeline-row .scrubber-element .settings-button {
    float: right;
    background-color: var(--main-bg-color);
    border-radius: 100%;
    position: absolute;
    right: 0.2rem;
    bottom: 0.2rem;
    height: 1.5rem;
    width: 1.5rem;
    display: none;
    z-index: 3;
    cursor: pointer;
}

#main-container #bottom-layer #timeline .sub-container .scrubber .timeline-column .timeline-row .scrubber-element .settings-button i {
    line-height: 1.5rem;
    width: 1.5rem;
    text-align: center;
    font-size: 0.9rem;
}

#main-container #bottom-layer #timeline .sub-container .scrubber .timeline-column .timeline-row .scrubber-element .settings-button:hover {
    display: block;
}

#main-container #bottom-layer #timeline .sub-container .scrubber .timeline-column .timeline-row .scrubber-element:hover .settings-button {
    display: block;
}
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    margin-right: 1rem;
    background-color: none;
}

::-webkit-scrollbar-button {
    display: none;
    height: 13px;
    border-radius: 0px;
    background-color: #AAA;
}

::-webkit-scrollbar-corner {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 100px;
    background-clip: content-box;
    border: 6px solid transparent;
}

::-webkit-scrollbar-track {
    background-color: none;
    height: 60%;
}

::-webkit-color-swatch {
    border-radius: 0.25rem;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
}

.save-progress-container {
    height: 4rem;
    width: fit-content;
    border-radius: 2rem;
    background-color: var(--main-bg-color);
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    z-index: 103;
    animation: save-project-animation 600ms ease-in-out;
    animation-fill-mode: both;
    overflow: hidden;
}

.save-progress-container h2 {
    display: inline-block;
    margin: 0;
    width: fit-content;
    color: var(--title-color);
    font-weight: lighter;
    line-height: 4rem;
    white-space: nowrap;
    animation: slide-in-text-save-project-animation 700ms cubic-bezier(0.25, 0.26, 0.57, 0.96) 0.25s;
    animation-fill-mode: forwards;
}

.save-progress-container .lds-roller {
    top: 0;
    margin: 0;
    transform: scale(0.7) translate(0,-0.7em);
    display: inline-block;
    float: left;
    animation: fade-in 300ms ease-in-out 0.2s;
    animation-fill-mode: both;
    color: white;
    background-color: var(--main-bg-color);
    z-index: 2;
    border-radius: 40rem;
}


.developer-notification {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    height: fit-content;
    width: 30rem;
    padding: 1rem;
    background-color: var(--secondary-button-color);
    border-radius: 0.5rem;
    opacity: 1;
    animation: slide-up-dev-message 2s ease-in-out both;
}

@keyframes slide-up-dev-message {
    0%{transform: translate(-50%, calc(100% + 1rem)); opacity: 1;}
    30%{transform: translate(-50%,0); opacity: 1;}
    70%{transform: translate(-50%,0); opacity: 1;}
    100%{transform: translate(-50%, calc(100% + 1rem)); opacity: 0;}

}

.developer-notification p:first-of-type {
    font-size: 1rem;
    line-height: initial;
    margin: 0;
}

.developer-notification p:nth-of-type(2) {
    font-weight: lighter;
    line-height: initial;
    margin: 0;
}

@keyframes save-span-animation {
    0% {opacity: 1;}
    50%{opacity: 0.5;}
    100%{opacity: 1;}
}

@keyframes save-project-animation {
    0% {width: 0}
    100% {width: 16rem};
}

@keyframes slide-in-text-save-project-animation {
    0% {transform: translate(-100%); opacity: 0;}
    50%{opacity: 0;}
    100% {transform: translate(0); opacity: 1;}
}

@keyframes save-project-animation-out {
    0% {opacity: 1} 
    100% {opacity: 1; transform: translate(0, 100%)}
}

#selection-box {
    background-color: #0075ff4D;
    border: 1px #0075ff solid;
    position: absolute;
    z-index: 100;
    border-radius: 0.25rem;
}

@keyframes timeline-file-drag-start {
    0%{transform: scale(0.3) translate(-50%, -50%); opacity: 1;}
    100%{transform: scale(1) translate(-50%, -50%); opacity: 1;}
}
