body {
    height: 100%;
    width: 100%;
    margin: 0; 
    padding: 0;
    min-width: 700px;
    min-height: 700px;
    cursor: default;
    font-family: bahnschrift;
    user-select: none;
}

html {
    height: 100%;
    width: 100%;
}


#app-bar {
    height: 26px;
    width: 100%;
    background-color: #222F3B;
    display: inline-grid;
    grid-template-columns: auto 150px 150px;
}

#app-bar #drag-region {
    width: 100%;
    position: relative;
    height: 100%;
    -webkit-app-region: drag;
    display: inline-block;
    z-index: -1;
}

#app-bar #important-buttons {
    height: 26px;
    max-height: 26px;
    width: 100%;
}

#app-bar #important-buttons .button {
    background-color: transparent;
    border-style: none;
    height: 100%;
    outline: none;
    color: white;
}

#app-bar #important-buttons #notification-pane {
    position: absolute;
    right: 265px;
    top: 26px;
    background-color: #1B2630;
    height: 57.19px;
    width: 300px;
    z-index: 1;
    text-align: center;
}

#middle-layer-container {
    height: fit-content;
    width: 100%;
    display: inline-grid;
    transform: translateY(-4px);
    grid-template-columns: auto 43%;
}

#middle-layer-container #effects {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: transparent;
    display: inline-grid;
    grid-auto-rows: 45px auto;
}

#middle-layer-container #effects #ribbon-menu {
    height: 100%;
    width: 100%;
    background-color: #1B2630;
}

#middle-layer-container #player {
    height: fit-content;
    width: 100%;
    margin: 0;
    display: inline-block;
    display: inline-grid;
    grid-template-rows: auto 25px;
}

#middle-layer-container #player #viewport {
    height: 100%;
    background-color: black;
    height: 450px;
}

#middle-layer-container #player #controls {
    height: 100%;
    background-color: #1B2630;
}

#ribbon-menu #ribbon-menu-options {
    display: inline-grid;
    width: 50%;
    height: 45px;
    margin-left: 50%;
    transform: translateX(-50%) translateY(-1px);
    grid-template-columns: auto auto auto;
    color: white;
}

#ribbon-menu #ribbon-menu-options .menu-option {
    text-align: center;
    transition: all 50ms ease-in-out;
    background-color: transparent;
    border-style: none;
    outline: none;
    color: white;
}

#ribbon-menu #ribbon-menu-options .menu-option:focus {
    background-color: rgba(0,0,0,0.5);
}

#ribbon-menu #ribbon-menu-options .menu-option:hover {
    background-color: rgba(0,0,0,0.3);
}

#ribbon-menu #ribbon-menu-options .menu-option i {
    font-size: 30px;
}

#ribbon-menu #ribbon-menu-options .menu-option p {
    margin: 0;
    font-size: 10px;
    transform: translateY(-3px);
}

#middle-layer-container #effects #content {
    height: 100%;
    width: 100%;
    background-color: #0F1419;
}

#player #controls #control-container {
    display: inline-grid;
    grid-template-columns: 33px 33px 33px;
    width: 15%;
    margin-left: 50%;
    transform: translateX(-50%);
}

#player #controls #control-container .control {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
}