body {
    height: 100%;
    width: 100%;
    margin: 0; 
    padding: 0;
    min-width: 700px;
    min-height: 700px;
    cursor: default;
    font-family: bahnschrift;
    user-select: none;
    background-color: var(--main-bg-color);
}

body p, i {
    color: var(--paragraph-color);
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

:root {
    --main-bg-color: white;
    --main-button-color: #E8E0D9;
    --secondary-button-color: #d9cbbf;
    --title-color: black;
    --secondary-color: #E8E0D9;
    --paragraph-color: rgb(50,50,50);
    --slider-color: #4da0ff;
    --slider-disabled-color: #a3ceff;
    --dark-shade: rgb(50,50,50);
    --light-shade: rgb(150,150,150);
  }

#project-name {
    position: absolute;
    top: 0.2rem;
    font-weight: lighter;
    height: 26px;
    left: 50%;
    transform: translate(-50%);
    width: fit-content;
    z-index: 103;
    margin: 0;
}
.sub-menu > div {
    border-radius: 0.25rem;
}
.sub-menu > div:hover {
    background-color: var(--main-button-color);
}


#blocking-loading-pane {
    height: 100%;
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: loading-pane 500ms ease-in-out 2s;
    z-index: 100;
    background-color: var(--main-bg-color);
    animation-fill-mode: forwards;
}

#blocking-loading-pane .positioner {
    height: fit-content;
    width: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#blocking-loading-pane .positioner h1 {
    width: 100%;
    text-align: center;
    color: var(--title-color);
    font-weight: lighter;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-left: 50%;
    transform: translate(-50%);
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: blue;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
#edit {
    padding: 1rem;
    box-sizing: border-box;
}

#edit p {
    margin: 0;
}

#edit #default-bg-img {
    display: none;
}

#edit label {
    background-color: var(--main-button-color);
    padding: 0.5rem;
    box-sizing: border-box;
    transform: translate(0 1rem);
    cursor: pointer;
    color: var(--paragraph-color);
    border-radius: 0.25rem;
    font-size: 1rem;
    margin-top: 1rem;
}

#edit .container {
    height: fit-content;
    width: fit-content;
}

#edit input {
    background-color: var(--main-button-color);
    border: none;
    outline: none;
    height: 1.5rem;
    width: 15rem;
    border-radius: 0.25rem;
    color: var(--paragraph-color);
    padding-left: 0.5rem;
    box-sizing: border-box;
    font-family: Bahnschrift;
    font-size: 1rem;
}

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}    

.select select {
    font-family: Bahnschrift;
    font-size: 1em;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 0px solid #000000;
    border-radius: 0.5rem;
    background: var(--secondary-button-color);
    color: #000000;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select select::-ms-expand {
    display: none;
    border-radius: 0.5rem 0.5rem 0 0;
}
.select select:hover,
.select select:focus {
    color: var(--paragraph-color);
    border-radius: 0.5rem 0.5rem 0 0;
    background: var(--secondary-button-color);
}
.select select:disabled {
    opacity: 0.5;
    pointer-events: none;
}
.select_arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0px 5px;
    border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-top-color: #000000;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}


.file-ghost {
    height: 5rem;
    width: 9rem;
    background-color: var(--dark-shade);
    backdrop-filter: blur(3px);
    position: absolute;
    opacity: 0.5;
    border-radius: 0.5rem;
    z-index: 100;
    display: grid;
    grid-template-rows: auto 1.5rem;
    grid-template-columns: 9rem;
    padding-top: 0.1rem;
    box-sizing: border-box;
    overflow: hidden;
    pointer-events: none;
}

.file-ghost img {
    height: 100%;
    margin: 0;
    width: auto;
    margin-left: 50%;
    transform: translate(-50%);
    pointer-events: none;
    border-radius: 0.25rem;
}

.file-ghost p {
    line-height: 1.5rem;
    margin: 0;
    width: 100%;
    text-align: center;;
}




#app-bar {
    padding-left: 0;
    height: 26px;
    width: 100%;
    display: grid;
    grid-template-columns: 15rem auto 150px;
    grid-template-rows: 100%;
    background-color: var(--main-bg-color);
    z-index: 102;
}

#app-bar #menu {
    padding: 0 0 0 0.5rem;
    padding-top: 0.1rem;
    margin: 0;
    height: 100%;
    width: 100%;
    white-space: nowrap;
    box-sizing: border-box;
}

#app-bar .app-bar-menu-container li,ul, .icon {
    display: inline-block;
    line-height: 26px;
    height: 26px;
    margin-right: 0;
}

#app-bar .app-bar-menu-container .icon {
    margin-right: 0.3rem;
    height: fit-content;
    margin-left: 0.7rem;
}

#app-bar .app-bar-menu-container img {
    height: 20px;
}

#app-bar .app-bar-menu-container li {
    transform: translate(0, -2px);
    color: var(--paragraph-color);
    font-weight: lighter;
    padding: 0 0.9rem;  
    margin-right: -0.3rem;
}
#app-bar .app-bar-menu-container #menu {
    display: inline-block; 
    width: fit-content;
    
}

#app-bar .app-bar-menu-container li:hover {
    background-color: rgba(0,0,0,0.75);
}

#app-bar #drag-region {
    width: 100%;
    position: relative;
    height: 100%;
    -webkit-app-region: drag;
    display: inline-block;
    z-index: -1;
}

#main-container-wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    box-sizing: border-box;
    grid-template-rows: 26px auto;
    row-gap: 1rem;
}

#main-container {
    display: grid;
    row-gap: 15px;
    /*padding-top: 1rem;*/
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

#main-container #top-layer {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 100%;;
    height: 100%;
    column-gap: 1rem;
    box-sizing: border-box;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

#main-container #top-layer .browser-container {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: transparent;
    border-radius: 0.5rem;
    overflow: hidden;
}

#main-container #top-layer #browser {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto 2.5rem;
    grid-template-columns: 100%;
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    overflow: hidden;
    align-items: end;
    justify-items: start;
}

#main-container #top-layer #browser .wrapper:first-of-type {
    display: grid;
    grid-template-columns: 4rem auto;
}

#main-container #top-layer #browser .wrapper:last-of-type {
    height: 100%;
    width: 100%;
    background-color: var(--main-bg-color);
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 6;
}

#main-container #top-layer #browser .wrapper:last-of-type .scroller {
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 0.2rem;
    box-sizing: border-box;
    scroll-snap-type: both mandatory;
}

#main-container #top-layer #browser .wrapper:last-of-type .scroller > p {
    height: 100%;
    line-height: 2rem;
    margin: 0;
    margin-left: 0.5rem;
    font-weight: lighter;
    opacity: 0.2;
    color: var(--paragraph-color);
}


#main-container #top-layer #browser .wrapper:last-of-type .scroller::-webkit-scrollbar {
    width: 5px;
    height: 2px;
}
#main-container #top-layer #browser .wrapper:last-of-type .question-circle {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translate(0, -50%);
    opacity: 1;
    height: 1rem;
    width: fit-content;
}

#main-container #top-layer #browser .wrapper:last-of-type .tab {
    max-height: 2rem;
    height: 100%;
    width: fit-content;
    min-width: 2rem;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    display: inline-block;
    margin-right: 0.2rem;
    scroll-snap-align: start;
    border: none;
    outline: none;
    padding: auto;
    animation: fade-in 200ms ease-in-out;
    transition: all 100ms ease-in-out;
}

#main-container #top-layer .properties-pane {
    height: 20rem;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 2.5rem;
    background-color: var(--main-bg-color);
    animation: properties-slide-in 400ms ease-in-out;
    z-index: 5;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 1rem;
    box-sizing: border-box;
}

#main-container #top-layer .properties-pane .container {
    height: 100%;
    width: 100%;
    animation: slide-in-left-properties 400ms ease-in-out;
    animation-fill-mode: both;
}

#main-container #top-layer .properties-pane .container h1.title {
    margin: 0;
    color: var(--title-color);
    font-size: 1.5rem;
    font-weight: lighter;
}

#main-container #top-layer .properties-pane .container .preview-window {
    height: 10rem;
    width: 50%;
    border: solid var(--slider-color) 2px;
    border-radius: 0.5rem;
    display: inline-block;
    float: right;
    background-color: var(--main-button-color);
    overflow: hidden;
    position: relative;
}

#main-container #top-layer .properties-pane .container .preview-window > div {
    height: 70%;
    width: fit-content;
    overflow: hidden;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#main-container #top-layer .properties-pane .container .preview-window > div img, video {
    height: 100%;
    width: auto;
    border-radius: 0.25rem;
}

.browser-tab-container #empty {
    animation: fade-in 200ms ease-in-out;
    animation-fill-mode: both;
}

#main-container #top-layer #browser .wrapper:last-of-type .tab p {
    width: fit-content; 
    font-size: 0.9rem;
    margin: 0;
    display: inline-block;
    float: left;
    color: var(--paragraph-color);
}

#main-container #top-layer #browser .wrapper:last-of-type .tab:hover {
    background-color: var(--secondary-button-color);
}

#main-container #top-layer #browser .wrapper:last-of-type .tab .cross {
    display: inline-block;
    float: right; 
    margin-left: 0.5rem;
    cursor: pointer;
}

#main-container #top-layer #browser .wrapper:last-of-type .tab .cross i {
    font-size: 0.9rem;
    color: var(--paragraph-color);
}

#main-container #top-layer #browser .content-container {
    height: 100%;
    width: 100%;
}

#main-container #top-layer #browser .content-container > div {
    height: 100%;
    width: 100%;
    animation: slide-in-left 200ms ease-in-out;
}

#main-container #top-layer #browser .content-container #files {
    /*Display grid is in reality set in the main.js script*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem,1fr));
    white-space: pre-wrap;
    grid-template-rows: repeat(4, 6rem);
    row-gap: 1rem;
    column-gap: 0.5rem;
    padding: 0.5rem;
    box-sizing: border-box;
    overflow-y: auto;
    height: 100%;
    width: 100%;
}


#main-container #top-layer #browser .content-container #files > div {
    height: 100%;
    width: 100%;

    border-radius: 0.25rem;
    display: inline-block;
    vertical-align: top;
}

#main-container #top-layer #browser .content-container #files > div .content {
    height: 100%;
    width: 100%;
    display: grid;
    padding-top: 0.3rem;
    box-sizing: border-box;
    grid-template-rows: auto 1.5rem;
    grid-template-columns: 100%;
    overflow: hidden;
}

#main-container #top-layer #browser .content-container #files > div .content p {
    line-height: 1.5rem;
    margin: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}

#main-container #top-layer #browser .content-container #files > div .content img, video {
    height: 100%;
    width: auto;
    border-radius: 0.25rem;
    margin-left: 50%;
    transform: translate(-50%);
    pointer-events: none;
}

#main-container #top-layer #browser .content-container #widgets {
        /*Display grid is in reality set in the main.js script*/
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem,1fr));
        white-space: pre-wrap;
        grid-template-rows: repeat(4, 6rem);
        row-gap: 1rem;
        column-gap: 0.5rem;
        padding: 0.5rem;
        box-sizing: border-box;
        overflow-y: visible;
}

#main-container #top-layer #browser .content-container #widgets .explorer-widget {
    height: 100%;
    width: 100%;
    background-color: var(--light-shade);
    border-radius: 0.25rem;
}


#main-container #top-layer #browser .side-bar {
    height: 100%;
    width: 4rem;
    background-color: var(--slider-color);
    display: inline-block;
    float: left;
    position: relative;
    z-index: 2;
}

#main-container #top-layer #browser .side-bar .buttons-container {
    height: fit-content;
    width: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#main-container #top-layer #browser .side-bar .buttons-container div {
    width: 4rem;
    height: 3rem;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
}

#main-container #top-layer #browser .side-bar .buttons-container div i {
    line-height: 3rem;
    width: 100%;
    text-align: center;
}

#main-container #top-layer #browser .side-bar .buttons-container button:hover {
    /*transform: translateX(0.3rem);*/
}

#main-container #top-layer #browser .side-bar .buttons-container button:focus {
    border-style: solid;
    border-width: 0 0 0 3px;
    border-color: white;
}

#main-container #top-layer #viewport {
    height: 100%;
    width: 100%;
    background-color: rgb(50,50,50);
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
}

#main-container #top-layer #viewport #content {
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

#main-container #top-layer #viewport #content .container {
    position: relative;
    height: 100%;
    width: 100%;
}

#main-container #top-layer #viewport .controls {
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
  height: fit-content;
  width: fit-content;
  z-index: 5;
}

#main-container #top-layer #viewport .controls input {
    float: left;
    display: inline-block;
    width: 20rem;
    background: none;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, var(--slider-color)), color-stop(0%, var(--slider-disabled-color)));
    margin: 0.8rem 0;
  }

#main-container #top-layer #viewport .controls input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;  
  box-shadow: 0px 0px 0px #000000;
  background: none;
  border-radius: 19px;
  border: 0px solid #000000;
}

#main-container #top-layer #viewport .controls .action-buttons {
  height: 2rem;
  width: fit-content;
  display: inline-block;
  float: right;
  margin-left: 1rem;
  background-color: var(--secondary-color);
  border-radius: 1rem;
  padding: 0 0.5rem;
}

#main-container #top-layer #viewport .controls .action-buttons button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  height: 2rem;
}

#main-container #top-layer #viewport .settings-button {
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
}

#main-container #top-layer #viewport .settings-button i {
    height: 2rem;
    width: 2rem;
    text-align: center;
    line-height: 2rem;
    color: white;
}

#main-container #top-layer #viewport .settings-bar {
    height: 100%;
    width: 13rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--main-button-color);
    opacity: 1;
    transition: all 150ms ease-in-out;
    animation: slide-in-right 300ms ease-in-out;
    line-height: 2.1rem;
    z-index: 2;
    display: none;
    padding-left: 1rem;
}

#main-container #top-layer #viewport .settings-bar .header {
    height: 2.1rem;
    width: 100%;
}

#main-container #top-layer #viewport .settings-bar .header p {
    height: 100%;
    width: fit-content; 
    float: left;
    display: inline-block;
    margin: 0;
    line-height: 2.1rem;
}   

#main-container #top-layer #viewport .settings-bar .header .close-button {
    height: 2.1rem;
    width: 2.1rem;
    background-color: transparent;
    float: right;
    display: inline-block;
    border: none;
    cursor: pointer;
    width: 2.1rem;
    outline: none;
}

#main-container #top-layer #viewport .settings-bar .close-button i {
    line-height: 2.1rem;
}

#main-container #top-layer #viewport .settings-bar .content {
    height: fit-content;
    width: 100%;
    padding: 0 1rem 0 0;
    box-sizing: border-box;
    margin-top: 1rem;
}

#main-container #top-layer #viewport .settings-bar .content p {
    margin: 0;
}

#main-container #bottom-layer {
    height: auto;
    padding-bottom: 1rem;
    box-sizing: border-box;
    width: 98%;
    margin: 0 auto;
}

#main-container #bottom-layer #timeline {
    height: 100%;
    width: 100%;    
    border-radius: 0.5rem;
    background-color: var(--main-button-color);
    display: grid;
    grid-template-columns: 4rem 1px;
    overflow: hidden;
    
}

#main-container #bottom-layer #timeline .side-bar {
    height: 100%;
    width: 100%;
    background-color: var(--secondary-color);
    z-index: 2;
}

#main-container #bottom-layer #timeline .sub-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 4rem auto;
    overflow: hidden;
}

#main-container #bottom-layer #timeline .sub-container .top-bar {
    height: 100%;
    width: 100%;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: repeat(40,6rem);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    z-index: 2;
}

#main-container #bottom-layer #timeline .sub-container .top-bar div[active="true"] {
    border: solid white;
    border-width: 0 0 0.2rem;
}



#main-container #bottom-layer #timeline .sub-container .scrubber {
    height: 100%;
    max-height: 24rem;
    /*
    display: grid;
    grid-template-columns: repeat(40,6rem); 
    grid-template-rows: 20rem;*/
    overflow-x: scroll;
    overflow-y: scroll;
    white-space: nowrap;
    scroll-snap-type: both mandatory;
    z-index: 1;
}



#main-container #bottom-layer #timeline .sub-container .scrubber .timeline-column {
    height: fit-content;
    width: 6rem;
    margin: 0; 
    position: relative;
    display: inline-block;
    vertical-align: top;
    transition: all 75ms ease-in-out;

}

#main-container #bottom-layer #timeline .sub-container .scrubber .timeline-column[displaying="true"] {
    background-color: #23313D;
}

#main-container #bottom-layer #timeline .sub-container .scrubber .timeline-row {
    height: 4rem;
    width: 100%;
    border-radius: 0.25rem;
    position: relative;
    scroll-snap-align: start;
}


#main-container #bottom-layer #timeline .sub-container .scrubber .timeline-row[version="A"] {
    /*background-color: var(--main-bg-color);*/
}

#main-container #bottom-layer #timeline .sub-container .scrubber .timeline-column .timeline-row .scrubber-element {
    height: 95%;
    width: 98%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    background-color: var(--main-bg-color);
    border-radius: 0.25rem;
    /*transition: all 200ms ease-in-out;*/
    opacity: 1;
    box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
}


#main-container #bottom-layer #timeline .sub-container .scrubber .timeline-column .timeline-row .scrubber-element img {
    height: 100%;
    width: auto;
    max-width: 6rem;
    border-radius: 0.25rem;
    margin-left: 50%;
    transform: translate(-50%);
}

body .file-dropdown-menu {
    min-height: 2rem;
    min-width: 20rem;
    position: absolute;
    background-color: var(--main-bg-color);
    animation: fade-in 200ms ease-in-out;
    display: block;
    transform: translate(-50%);
    z-index: 5;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 0.25rem;
}
body .context-menu {
    z-index: 104;       
}
body .context-menu button:disabled {
    opacity: 0.3;
    cursor: default;
}

body .context-menu button:disabled:hover {
    background-color: transparent;
}

#main-container #bottom-layer #timeline .sub-container .scrubber .timeline-column .timeline-row .scrubber-element .settings-button {
    float: right;
    background-color: var(--main-bg-color);
    border-radius: 100%;
    position: absolute;
    right: 0.2rem;
    bottom: 0.2rem;
    height: 1.5rem;
    width: 1.5rem;
    display: none;
    z-index: 3;
    cursor: pointer;
}

#main-container #bottom-layer #timeline .sub-container .scrubber .timeline-column .timeline-row .scrubber-element .settings-button i {
    line-height: 1.5rem;
    width: 1.5rem;
    text-align: center;
    font-size: 0.9rem;
}

#main-container #bottom-layer #timeline .sub-container .scrubber .timeline-column .timeline-row .scrubber-element .settings-button:hover {
    display: block;
}

#main-container #bottom-layer #timeline .sub-container .scrubber .timeline-column .timeline-row .scrubber-element:hover .settings-button {
    display: block;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-button {
    display: none;
    height: 13px;
    border-radius: 0px;
    background-color: #AAA;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #171F26;
    height: 60%;
}