.control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 30px;
    padding-top: 2px;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5rem;
    color: var(--paragraph-color);
}
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.control_indicator {
    position: absolute;
    top: 3px;
    left: 0;
    height: 20px;
    width: 20px;
    background: var(--main-bg-color);
    border: 2px solid #0075ff;
    box-sizing: border-box;
    border-radius: 4px;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: var(--main-button-color);
}

.control input:checked ~ .control_indicator {
    /*background: #2aa1c0;*/
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: var(--main-bg-color);
}
.control input:disabled ~ .control_indicator {
    /*background: #e6e6e6;*/
    opacity: 0.5;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 6px;
    top: 2px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}
.control-checkbox .control_indicator::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: -1.3rem;
    margin-top: -1.3rem;
    background: #2aa1c0;
    border-radius: 3rem;
    opacity: 0.6;
    z-index: 99999;
    transform: scale(0);
}
@keyframes s-ripple {
    0% {
        transform: scale(0);
    }
    20% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
@keyframes s-ripple-dup {
   0% {
       transform: scale(0);
    }
   30% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

/*
.control-checkbox input + .control_indicator::before {
    animation: s-ripple 250ms ease-out;
}
.control-checkbox input:checked + .control_indicator::before {
    animation-name: s-ripple-dup;
}*/


.ripple-element {
    overflow: hidden;
    position: relative;
  }

  @keyframes ripple-animation {
    0%{height: 0; width: 0;}
    100%{height: 20rem; width: 20rem; opacity: 0;}
  }


  .select {
    position: relative;
    display: inline-block;
    width: 100%;
    height: fit-content;
    margin: 0;
}    .select select {
        font-family: Bahnschrift;
        font-size: 1rem;
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 10px 15px;
        outline: 0;
        border: 2px solid var(--slider-color);
        font-weight: lighter;
        border-radius: 0.25rem;
        background: #171F26;
        color: #ffffff;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
        .select select::-ms-expand {
            display: none;
        }
        .select select:hover,
        .select select:focus {
            color: var(--paragraph-color);
            background: #24313d;

        }
        .select select:focus {
            /*border-width: 2px 2px 0 2px; Consider this one sometime later*/
            border-radius: 0.25rem 0.25rem 0 0;
        }
        .select select:disabled {
            opacity: 0.5;
            pointer-events: none;
        }
.select_arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0px 5px;
    border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-top-color: var(--title-color);
}
.select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}