html {
    height: 100%;
    background-color: transparent;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: bahnschrift;
    overflow: hidden;
    user-select: none;
    background-color: transparent;
  
  }




*, *::after, *::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
}

body p, h1, h2, h3, input, textarea {
  font-family: bahnschrift;
  color: var(--paragraph-color);
  font-weight: lighter;
}

body input::placeholder {
  color: var(--paragraph-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

  /*:root {
    --main-bg-color: #171F26;
    --main-button-color: #1B2630;
    --secondary-button-color: #121a21;
    --title-color: white;
    --secondary-color: rgb(15, 20, 25);
    --paragraph-color: rgb(220,220,220);
    --slider-color: #0075ff;
  }*/

  :root {
    --main-bg-color: white;
    --main-button-color: #E8E0D9;
    --secondary-button-color: #d9cbbf;
    --title-color: black;
    --secondary-color: #E8E0D9;
    --paragraph-color: rgb(50,50,50);
    --slider-color: #4da0ff;
  }



.info-circle {
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  background-color: white;
  color: rgb(100,100,100);
  display: inline-block;
  margin-left: 0.5rem;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}


.settings-content {
  padding: 1rem;
  overflow: hidden;
  height: fit-content;
  width: 100%;
}

.fd-button {
    height: 3rem;
    width: 3rem;
    white-space: nowrap;
    background-color: var(--main-button-color);
    border: none;
    border-radius: 1.75rem;
    color: var(--paragraph-color);
    outline: none;
    cursor: pointer;
    padding: 0 1rem;
    margin-right: 0rem;
}

.fd-settings-button {
  height: 2.5rem;
  letter-spacing: 0.10em;
  width: fit-content;
  white-space: nowrap;
  background-color: var(--main-button-color);
  border: none;
  border-radius: 1.75rem;
  color: var(--paragraph-color);
  outline: none;
  cursor: pointer;
  padding: 0 1.5rem;
  margin-right: 0rem;
  font-family: bahnschrift;
  font-weight: lighter;
  line-height: 2.5rem;
}


#content {
    border-radius: 0.5rem;
    height: 100%;
    overflow: hidden;
    width: 97%;
    padding-left: 1.5rem;
    background: var(--main-bg-color);
}

#content #drag-bar {
    -webkit-app-region: drag;
    height: 3rem;
    width: 100%;
    background-color: transparent;
}

.smooth-shadow {
    box-shadow: 0 -1px 2px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
  }

#main-title {
    color: var(--title-color);
    font-weight: lighter;
}

#actions-container {
    height: fit-content;
    width: fit-content;

}


#actions-container button {
    height: 3rem;
    width: fit-content;
    padding: 0 1rem;
    white-space: nowrap;
    background-color: var(--main-button-color);
    border: none;
    border-radius: 1.5rem;
    outline: none;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.7rem;
}

#actions-container button:disabled {
    cursor: default;
    opacity: 0.5;
}

#actions-container button i, p {
    display: inline-block;
    line-height: 3rem;
    color: var(--paragraph-color);
    vertical-align: top;
    margin: 0;
}

.title {
    color: var(--title-color);
    font-weight: lighter;
}

#list {
    height: fit-content;
    max-height: 10rem;
    overflow-y: hidden;
    min-height: 1.7rem;
    border-radius: 0.5rem;
    width: 25rem;
    background-color: var(--secondary-color);
    line-height: 2rem;
    color: var(--paragraph-color);
    font-weight: lighter;
    padding-left: 0.33rem;
}


#list #projects-container {
  height: fit-content;
  max-height: 10rem;
  width: 25rem;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

#list #projects-container > div.project-item {
  scroll-snap-align: start;
}

#list #projects-container::-webkit-scrollbar-thumb {
  background: var(--secondary-button-color);;
  border: 0px none transparent;
  border-radius: 50px;
}


#list .project-item {
  height: 2.5rem;
  width: 100%;
  display: block;
  background-color: transparent;
  transition: all 0ms ease-in-out;
  vertical-align: top;
  cursor: pointer;
  border-radius: 0.25rem;
}

#list .project-item:hover {
  background-color: var(--secondary-button-color);
}

#list .project-item p {
  height: 2.5rem;
  margin: 0;
  color: var(--paragraph-color);
  font-size: 1.5em;
  line-height: 2.5rem;
  margin-left: 1rem;
}


.theme-button {
  height: fit-content;
  width: 10rem;
  display: inline-block;
  cursor: pointer;
  border-style: none;
  background-color: transparent;
  padding: 0;
  outline: none;

}

.theme-button img {
  transition: 150ms ease-in-out;

}
/*
\/\/\/\/\/\/ LEGACY \/\/\/\/\/\/
.theme-button:focus img {
  border: solid 2px coral;
  box-sizing: border-box;
}*/




#settings-wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
  transform: translateX(-2%);
  height: fit-content; 
  width: 89%;
  margin-left: auto;
  margin-right: auto;
  animation: fade-in 300ms ease-in-out 0.2s;
  animation-fill-mode: backwards;
  font-weight: lighter;
}

#settings-wrapper input:not([type="range"]) {
  background-color: transparent;
  border: solid white;
  border-width: 0;
  outline: none;
  color: white;
  padding-left: 0.5rem;
  font-family: bahnschrift;
  font-weight: lighter;
}


#user-container {
    height: 3.5rem;
    width: 3.5rem;
    transform: translateY(20%);
}

#user-container #pfp #profile-photo-image {
    height: 3.5rem;
    width: auto;
    margin-left: 50%;
    transform: translateX(-50%); 
    position: absolute;
    z-index: 0;
}

#user-container #pfp canvas {
  position: relative;
    z-index: 4;
    animation: rotate 300ms ease-in-out;
    transition: all 400ms ease-in-out;
}


#pfp {
    position: relative;
    height: 3.5rem;
    width: 3.5rem;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    background-color: var(--main-button-color);
    border: none;
    border-radius: 1.75rem;
    outline: none;
    cursor: pointer;
    margin-right: 0rem;
}

#user-container #pfp:hover canvas {
    transform: rotate(360deg);
}


.menu {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: pop-in 300ms ease-in-out;
    background: var(--main-bg-color);
    border-radius: 0.5rem;
    overflow: hidden;
}

.menu .header {
    height: 10rem;
    width: 100%;
    background-color: var(--secondary-color);
}

.menu #login-container form input {
    height: 2rem;
    width: 19rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    font-size: 1.2rem;
    color: white;
    font-weight: lighter;
    display: block;
    border-radius: 0.5rem;
    background-color: rgb(15, 20, 25);
    outline: none;
    border: none;
}

#controls {
  margin-top: 1rem;
  padding-bottom: 3rem;
}

#controls p {
  display: block;
  height: 0.5rem;
  line-height:0.5rem;
  margin-top: 0.8rem;
}

#controls input {
  background-color: transparent;
}

.user-header-wrapper {
  height: 100%;
  width: 100%;
}

.login-button:disabled {
    cursor: default; 
    opacity: 1;
}

button:disabled {
  cursor: default; 
  opacity: 1;
}

div.disabled {
  cursor: default;
  opacity: 0.5;
}




.template-card.standard {
  height: 5rem;
  width: 10rem;
  background-color: var(--main-button-color);
  border-radius: 0.25rem;
  display: inline-block;
  margin-right: 0.7rem;
  margin-bottom: 0.5rem;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.32);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.32);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.32);
  vertical-align: top;
}

.template-card.no-shadow {
  height: 5rem;
  width: 10rem;
  background-color: var(--main-button-color);
  border-radius: 0.25rem;
  display: inline-block;
  margin-right: 0.7rem;
  margin-bottom: 0.5rem;
  vertical-align: top;
}

.template-card.disabled {
  pointer-events: none;
  opacity: 0.5;
}









@keyframes rotate {
    0% {transform: rotate(-90deg)}
    100% {transform: rotate(0deg)}
}

@keyframes full-rotate {
  0%{transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@keyframes slide-right {
    0% {transform: translateX(-2rem); opacity: 0;}
    50% {opacity: 0;}
    100% {transform: translateX(0); opacity: 1;}
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes pop-in {
    0% {opacity: 0; transform: scale(0.93);}
    50%{opacity: 100%;}
    100% {transform: scale(1);}
}

@keyframes slide-out {
  0%{opacity: 1; transform: none;}
  50%{opacity:1;}
  100%{opacity: 0; transform: translateY(20%)}
}

@keyframes slide-in {
  0%{opacity: 0; transform: translateY(-1rem)}
  50%{opacity:1;}
  100%{opacity: 1; transform: none;}
}

@keyframes wrong-shake {
  0%{transform: translateX(0)}
  50% {transform: translateX(-5%)}
  100% {transform: translateX(5%)}
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: var(--main-button-color);;
  border: 0px none transparent;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--main-button-color);
}
::-webkit-scrollbar-thumb:active {
  background: var(--main-button-color);;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}



.lds-roller {

    display: inline-block;
    position: relative;
    width: fit-content;
    height: fit-content;
    animation: fade-in 300ms ease-in-out;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: rgb(100,100,100);
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;   
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    background-color: none;
  }
  input[type=range]:focus {
    background-color: none;
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: var(--slider-color);
    border-radius: 19px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #ffffff;
    height: 10px;
    width: 10px;
    border-radius: 20px;
    background: var(--slider-color);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -2px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--slider-color);;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: var(--slider-color);;
    border-radius: 19px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #ffffff;
    height: 10px;
    width: 10px;
    border-radius: 20px;
    background: var(--slider-color);;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: var(--slider-color);;
    border: 0px solid #000000;
    border-radius: 38px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: var(--slider-color);;
    border: 0px solid #000000;
    border-radius: 38px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #ffffff;
    height: 10px;
    width: 10px;
    border-radius: 20px;
    background: var(--slider-color);;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: var(--slider-color);;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: var(--slider-color);;
  }